
@font-face {
    src: url(../fonts/Tomorrow-ExtraBoldItalic.ttf);
    font-family: Tomorrow;
}



body{

  background-color: gray;
}
.container{
  background-color: white;
  max-width:1170px;
  margin: 0 auto;
  padding: 50px ;
}



/*----------------------------------------------------------------*/
/*----------------------------- Task1-----------------------------*/
/*----------------------------------------------------------------*/
.first_font {
    font-family: Tomorrow, sans-serif;   
}

.second_font p {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}
.third_font p {
    font-family: 'Permanent Marker', cursive;
}

/*----------------------------------------------------------------*/
/*----------------------------- Task2-----------------------------*/
/*----------------------------------------------------------------*/

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}


.breadcrumbs-list {
  display: flex;
  flex-direction: row;
  background-color: #caf4fb;
  padding: 3px;
  width: 360px;
}

.breadcrumbs-item {
  list-style-type: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 120px;
  height: 40px;
  position: relative;
  background-color: #00bddb;
  border-radius: 3px;
  justify-content: center;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 5px;
}

.breadcrumbs-item a {
  color: #ffffff;
  display: inline-block;
}

.breadcrumbs-item:not(:first-child)::after {
  content: "";
  position: absolute;
  left: -1px;
  border-left: 20px solid #caf4fb;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 0;
}

.breadcrumbs-item:not(:last-child)::before {
  content: "";
  position: absolute;
  right: -19px;
  border-left: 20px solid #00bddb;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 0;
  z-index: 1;
}

.breadcrumbs-item:hover {
  background-color: #1d3e8b;
}

.breadcrumbs-item:hover:before {
  border-left: 20px solid #1d3e8b;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
/*----------------------------------------------------------------*/
/*----------------------------- Task3-----------------------------*/
/*----------------------------------------------------------------*/

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: none;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.radiobutton-item {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    margin-bottom: 10px;
}

.input-radio + label::before {
    content: "";
    position: absolute;
    left: -25px;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #017f04;
    border-radius: 50%;
    background-color: #fafafa;
}

.input-radio + label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -19px;
    width: 8px;
    height: 8px;
    background-color: #d2d2d2;
    border-radius: 50%;
}

.input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -19px;
    width: 8px;
    height: 8px;
    background-color: #017f04;
    border-radius: 50%;
}

.input-radio:checked + label::before {
    background-color: #d2d2d2;
}



/*----------------------------------------------------------------*/
/*----------------------------- Task4-----------------------------*/
/*----------------------------------------------------------------*/


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(27, 236, 27);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}